html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    -webkit-touch-callout:none; /* リンク長押しのポップアップを無効化 */
    -webkit-user-select:none; /* テキスト長押しの選択ボックスを無効化 */

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE11 */

    touch-action: manipulation;
}

canvas {
    display: block;
    margin-top: 20px;
}


.button-container {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button {
    width: 320px;
    height: 160px;
    background-image: linear-gradient(180deg, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 60px;
    color: aliceblue;
    border: 10px solid #000;
    border-image: linear-gradient(0deg, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1));
    border-image-slice: 1;
}

#up {
    margin-bottom: 25px;
    padding: 10px 80px;
}

#left {
    margin-right: 25px;
    padding: 10px 50px;
}

#right {
    margin-left: 25px;
    padding: 10px 50px;
}

#down {
    margin-top: 25px;
    padding: 10px 80px;
}

/* 769px以上の場合 */
@media screen and (min-width: 769px) {
    .button-container {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .button-container {
        display: none;
    }
}


